/* Цвет основного текста color: #757575; */
/* Вторичный цвет текста color: #212121; */
/* Акцент color: #2196F3; */
/* Цвет фона вторичный background: #F5F4FA;*/

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-background-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: #ffffff;
    letter-spacing: 0.03em;
}
a {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-style: normal;
}

a:hover,
a:focus {
    color: var(--accent-color);
}

ul {
    list-style: none;
}

/* Шапка страниц */


nav > .logo {
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;  
}

.logo > span {
    color: var(--accent-color);
}

.nav-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.current {
    color: var(--accent-color)
}

.contacts a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

/* Тело основной страницы */

/* Герой */

.hero-title {
    font-weight: 900;
    font-size: 44px;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    line-height: 1.36;
}

.hero-link {
    font-weight: 700;
    font-size: 16px; 
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    line-height: 1.875;

}
.hero-link:hover,
.hero-link:focus {
    color: #FFFFFF;
}

/* Преимущества */

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    line-height: 1.14;
}

.advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/* Чем мы занимаемся */

.title-h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--secondary-text-color);
    line-height: 1.17;
}

.work-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondary-text-color);
}

.team-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);
}

/* Подвал */

.footer {
    background-color: #2F303A;
}
.logo-footer {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;  
}
.logo-footer > span {
    color: var(--accent-color);
    letter-spacing: 0.03em;
}

.logo-footer:hover,
.logo-footer:focus {
    color: #FFFFFF;
}

.street {
    font-style: normal;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.7;
}

.footer .contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.join-title,
.subscribe-title {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.join-title-link  {
    color: #FFFFFF;
}
.subscribe-input {
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
}


.subscribe-button a {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
}

.caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.4);
}

/* Тело страницы портфолио */

.filter .fil-button {
    background-color: var(--secondary-background-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
}

.fil-button:hover,
.fil-button:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}

.text-img {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
    background-color: var(--accent-color);
    
}

.list a:hover,
.list a:focus {
    color: var(--secondary-text-color);
}

.list .item {
    color: var(--primary-text-color);
    line-height: 1.875;
}

.list-artical {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}